body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(166, 164, 164);
    display: flex;
    justify-content: center;
}

/* navbar */
nav {
    background-color: #001e3c;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px 0;
}

.nav-box {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}


/* pages */
main {
    background: white;
    width: 90%;
    max-width: 700px;
    margin-top: 80px;
    padding: 30px;
    border-radius: 8px;
    min-height: 80vh;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

/* cards of news */
.card {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    text-align: right;
}

.card-header {
    display: flex;
    gap: 15px;
    align-items: center;
}

.card-header img {
    width: 80px;
    height: 80px;
    border-radius: 4px;
    object-fit: cover;
}

/*  creeta story */
.field {
    margin-bottom: 15px;
    text-align: right;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.file-btn {
    background: #f0f0f0;
    padding: 8px;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
}

#pic { display: none; }

.btn-box {
    text-align: center;
    margin-top: 20px;
}

button {
    background: #c00;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #a00;
}